<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllureCSharpCommons.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AllureCSharpCommons.Settings1>
            <setting name="ResultsPath" serializeAs="String">
                <value>AllureResults</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.4.0</value>
            </setting>
        </AllureCSharpCommons.Settings1>
    </userSettings>
</configuration>