<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender"> 
          <param name="File" value="App_Data\\Logs\\log.txt" /> 
          <param name="AppendToFile" value="true" /> 
          <param name="MaxSizeRollBackups" value="3" /> 
          <param name="MaximumFileSize" value="100000" /> 
          <param name="RollingStyle" value="Size" /> 
          <param name="StaticLogFileName" value="true" /> 
          <layout type="log4net.Layout.PatternLayout"> 
              <param name="ConversionPattern" value="%date [%thread] %logger %-5level %message%newline" /> 
          </layout> 
      </appender>   
      <root> 
          <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL--> 
          <level value="ALL" /> 
          <appender-ref ref="RollingFileAppender" /> 
      </root> 
  </log4net>
</configuration>